In [ ]:
#Question1
#Write the output of the following
##k=[‘a’,’b’,’c’,’d’,’e’]
###print(k[-1:-7:-1])


Output=['e', 'd', 'c', 'b', 'a']

In [ ]:
#Question 2
##2. Reverse a list using Python
###list1 = [100, 200, 300, 400, 500]

In [1]:
list1 = [100,200,300,400,500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [ ]:
#Question3
##Given two numbers, write a python code to find the maximum of these two numbers.
###Sample input: a=2, b=4

In [2]:
a=2
b=4
Maximum=max(a,b)
print(Maximum)

4

In [ ]:
#Question 4
##Write a python program to find the square of 5.

In [3]:
a=5
Square=(a**2)
print(Square)

25

In [ ]:
#Question5
##Write a python program to find the sum of all items in a dictionary
###Input : {‘a’: 100, ‘b’:200, ‘c’:300}

In [16]:
Input={"a": 100, "b":200, "c":300}

total= 0  

for key, value in Input.items():
 
  total += value

print(total)

600

In [ ]:
#Question6
#Write a python program to print the current year, month and day.

In [179]:
year=2022
mnth=12
day=11
print(year,mnth,day,sep='/')

2022/12/11

In [178]:
#Question7
###Write a Python program to construct the following pattern, using a nested for loop.

In [44]:
a=int(input("enter the number "))
for i in range(1,a+1):
  for j in range(1,i):
    print('*',end='')
  print()
for i in range(a,0,-1):
  for j in range(0,i):
    print('*',end='')
  print()

enter the number5

*
**
***
****
*****
****
***
**
*

In [ ]:
#Question10
##Write a python function to calculate the factorial of a number (a non negative integer). The function accepts the number as an argument.

In [184]:

def facto(num1):
    emp=1
    for i in range(1,num1+1):
        emp=i*emp
    return(emp)
    
num1=int(input('Enter the first number '))
fact3=facto(num1)
print(fact3)

Enter the first number 3
6

In [180]:
#Question9
##Display all duplicate items from a list given:

In [67]:

list1=[10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
length1 = len(list1)
repeated = []
for i in range(length1):
  k = i + 1
  for j in range(k, length1):
      if list1[i] == list1[j] and list1[i] not in repeated:
        repeated.append(list1[i])
 
print(repeated)

[20, 60, 30]

In [ ]:
#Question10
###Write a program to accept a string from the user and display characters that are present at an even index number.

In [76]:
User_in = input('Enter a string: ')

even = []

for i in range(len(User_in)):
    if (i+1) % 2 == 0:
        even.append(User_in[i])

print('Even:{}'.format(even))

Enter a string: farhan
Even:['a', 'h', 'n']

In [ ]:
#Question12
##Modify the element of a nested list inside the following list:
##Sample input : list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
##Change the element 35 to 3500

In [103]:
list1=[5,[10,15,[20,25,[30,35],40],45],50]

list1[-2][-2][-2][-1]=('3500')

print(list1)

[5, [10, 15, [20, 25, [30, '3500'], 40], 45], 50]

In [ ]:
#Question13
##Write a while loop to display only alphabets from a string.

In [187]:

string = input("Enter a string: ")


alpha = ""


for char in string:
  if char.isalpha():
    alpha += char


print(alpha)

Enter a string: citty123
citty

In [ ]:
#Question15
##Python program to convert the temperature in degree centigrade to Fahrenheit and vice versa.

In [171]:
Ask=(input("Type C to convert to centigrade / Type F to convert to Fahrenhiet "))

if Ask.upper()=='F':
  Temp_F=int(input('Temp in Centigrade '))
  print((Temp_F-32)/1.8)
elif Ask.upper()=='C':
  Temp_c=int(input('Temp in Fahrenhiet '))
  print((Temp_c*1.8)+32)

C to convert to centigrade / F to convert to Fahrenhietc
Temp in Fahrenhiet1
33.8